body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
header {
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  padding: 5% 5% 0 19%;
  height: auto;
}
.header__nav {
  display: flex;
  align-items: flex-start;
  margin-bottom: 14%;
}
.header__nav img {
  cursor: pointer;
}
.header__nav ul.main_nav {
  display: flex;
}
.header__nav ul.main_nav a {
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}
.header__nav ul.main_nav li {
  text-decoration: none;
  list-style-type: none;
}

.header__main {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header__main img.girl {
  position: absolute;
  width: 60%;
  bottom: 0;
  right: -1.6%;
}
.header__main__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
  width: 55%;
}
.header__main__text img {
  width: 100%;
}
.header__main__text p {
  font-weight: 500;
  color: #aa4d54;
  font-size: 20px;
}
.header__main__text button {
  padding: 10px 20px;
  color: #aa4d54;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 8px #a74650;
  cursor: pointer;
  transition: 0.3s;
  width: 25%;
}
.header__main__text button:hover {
  box-shadow: 0px 0px 4px #a74650;
}
.header__main__sn {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.header__main__language {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.header__main__language input {
  display: none;
}
.header__main__language input:checked + label {
  color: #a74650;
}
.header__main__language label {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  margin: 10px 0;
}
.header__main__language hr {
  width: 70%;
  border: 0;
  border-top: 1px solid #fff;
}

.header__main__sn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__main__sn a {
  margin-bottom: 20px;
}

p.title {
  font-size: 36px;
  font-family: "Prata", serif;
}

section.services {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 0 0 auto;
  margin-bottom: 100px;
}
.services__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.services__box img {
  width: 100%;
}
.services__box:focus {
  outline: none;
}
section.services .slick-initialized .slick-slide {
  display: flex;
}
ul.slider_dots {
  display: flex !important;
  justify-content: space-between;
  list-style-type: none;
  width: 90%;
}
ul.slider_dots li {
  flex: 1;
}
ul.slider_dots li button {
  width: 100%;
  border: none;
  outline: none;
  transition: 0.3s;
  background: #cdcdcd;
  height: 2px;
  font-size: 0;
}
ul.slider_dots li button:hover {
  background: #696969;
}
ul.slider_dots li[class="slick-active"] button {
  background: #696969;
}
